body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Target the SVG elements inside the .rbh class */
.rbh polygon:hover {
  fill: #757782 !important; /* Change this color to your preferred hover color */
  transition: fill 0.3s ease; /* Add smooth transition */
}

.rbh path:hover {
  fill: #757782 !important; /* Change this color to your preferred hover color */
  transition: fill 0.3s ease; /* Add smooth transition */
}